# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Node
node_modules/
package-lock.json

# Logs
*.log

# Others
*.sqlite3 